//- 荣耀运动健康数据卡片 - 整合版
.card-widget.card-health
  .health-header
    .health-title
      i.fas.fa-heartbeat
      span 健康数据
    a.refresh-btn#health-refresh(href="javascript:void(0)" title="刷新")
      i.fas.fa-sync-alt
  
  .health-main
    //- 左侧：心率 + 折线图
    .health-left
      .heartrate-section
        .heartrate-now
          span.hr-value#heartrate-value --
          span.hr-unit bpm
        .heartrate-label 当前心率
      .heartrate-chart-wrap
        canvas#heartrate-chart
    
    //- 右侧：睡眠 + 步数
    .health-right
      .sleep-section
        .sleep-times
          .sleep-item
            i.fas.fa-moon
            span#sleep-start --:--
          .sleep-arrow →
          .sleep-item
            i.fas.fa-sun
            span#sleep-end --:--
        .sleep-status#sleep-status
          i.fas.fa-circle
          span --
      .steps-section
        i.fas.fa-walking
        span.steps-num#health-steps --
        span.steps-unit 步

  .health-footer
    span#health-update-time 加载中...
